<section>
  <h1>FIP Dosage Calculator</h1>
  <hr>
  <form [formGroup]="dosage_FG" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Cat Weight (kg)</mat-label>
      <input matInput value="" formControlName="cat_weight">
      <mat-error *ngIf="dosage_FG.controls.cat_weight.hasError('required')">
        Error: Please enter the cat's weight in kg!
      </mat-error>
      <mat-error *ngIf="dosage_FG.controls.cat_weight.hasError('pattern')">
        Error: Positive numbers only!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Recommended Dosage (mg/kg)</mat-label>
      <mat-select value="" formControlName="dosage">
        <mat-option>-- None --</mat-option>

        <mat-option *ngFor="let dosage of dosage_values" [value]="dosage">
          {{ dosage }} mg/kg
        </mat-option>

      </mat-select>

      <mat-error *ngIf="dosage_FG.controls.dosage.hasError('required')">
        Error: Please select the recommended dosage!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Medicine Concetration (mg/ml)</mat-label>

      <mat-select value="" formControlName="concentration">
        <mat-option>-- None --</mat-option>

        <mat-option *ngFor="let concentration of concentration_values" [value]="concentration.concentration">
          {{ concentration.brand }} - {{ concentration.concentration }} mg/ml
        </mat-option>

      </mat-select>

      <mat-error *ngIf="dosage_FG.controls.concentration.hasError('required')">
        Error: Please select the concentration!
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!dosage_FG.valid">Calculate</button>

  </form>

  <p *ngIf="number_of_mils">Amount: {{ number_of_mils }} ml</p>
</section>